<include "../template/public_header.html">


<link rel="stylesheet" href="../css/news-list.css">
<link href="https://cdn.bootcss.com/Swiper/2.7.6/idangerous.swiper.min.css" rel="stylesheet">
</head>
<body>
    <include "../template/top.html">
    <include "../template/header.html">
    <include "../template/search-left.html">
    <div class="page-content">
        <div class="main">
            <div class="left">
                <div class="title-nav">
                    <i class="iconfont icon-fangzi"></i>
                    <a>投资界</a><span class="split">></span>
                    <a>投资</a><span class="split">></span>
                    <a>天使投资</a>
                </div>
                <div class="news-box">
                    <include "../template/news-people.html">
                    <include "../template/news-people.html">
                    <include "../template/news-people.html">
                    <include "../template/news-people.html">
                    <include "../template/news-people.html">
                    <include "../template/news-people.html">
                    <include "../template/news-people.html">
                    <include "../template/news-people.html">
                    <include "../template/news-people.html">
                    <include "../template/news-people.html">
                    <include "../template/news-people.html">
                    <include "../template/news-people.html">
                    <include "../template/news-people.html">
                    <include "../template/news-people.html">
                    <include "../template/news-people.html">
                    <include "../template/news-people.html">
                    <include "../template/news-people.html">
                </div>
                <include "../template/paging.html">
            </div>
            <div class="right">
                <h3 class="panel-title panel-title-bottom-line">
                    <a href="">专栏人物</a>
                    <div class="pagination"></div>
                </h3>
                <div class="scroll-focus">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <ul>
                                    <!--专栏人物列表-->
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <!--结束-->
                                </ul>
                            </div>
                            <div class="swiper-slide">
                                 <ul>
                                     <!--专栏人物开始-->
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <li class="img">
                                        <a href="">
                                            <img src="../images/20170210@179732.jpg" alt="">
                                            <div class="name">吴婷</div>
                                        </a>
                                    </li>
                                    <!--结束-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tops-box">
                    <h1 class="panel-title panel-title-bottom-line">TOPS 
                        <div class="box-r">
                            <span class="top-name selected">日排行</span><span class="split">/</span>
                            <span class="top-name">周排行</span><span class="split">/</span>
                            <span class="top-name">原创</span>
                        </div>
                    </h1>
                    <div class="toplist-toggle">
                        <!--tops列表-->
                        <include "../template/top-list.html">
                        <include "../template/top-list-hide.html">
                        <include "../template/top-list-hide.html">
                        <!--结束-->
                    </div>
                    <div class="item">
                        <h1 class="panel-title">巨头<a href="javascript:;" class="more">MORE+</a></h1>
                        <div class="panel panel-prey">
                            <div class="news-img">
                                <img src="../images/20170612@227627.jpg" alt="" style="height:100%;width:100%;">
                            </div>
                            <a href="#" class="news">我看到你福覅几句为人陪我二君恩错承诺你额fin发您肉veonin犯法</a>
                        </div>
                        <ul class="news-list">
                            <!--侧边栏新闻-->
                            <li><a href="#">第五届中关村天使投资论坛暨颁奖典礼</a></li>
                            <li><a href="#">2017中国基金小镇高峰论坛@青岛【现场直播】</a></li>
                            <li><a href="#">第五届中关村天使投资论坛暨颁奖典礼</a></li>
                            <!--结束-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include "../template/footer.html">
    <script src="https://cdn.bootcss.com/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/Swiper/2.7.6/idangerous.swiper.min.js"></script>
    <script src="../js/public.js"></script>
    <script>
        $(function(){
            var mySwiper = $('.swiper-container').swiper({
                autoplay:3000,
                loop: true,
                pagination:'.pagination',
                paginationClickable :true,
                autoplayDisableOnInteraction: false
            });
            cnfood.paginationHover(mySwiper);
        })

    </script>
</body>
</html>