<include "../template/public_header.html">


<link rel="stylesheet" href="../css/company-detail.css">
<script src="https://cdn.bootcss.com/require.js/2.3.3/require.min.js" defer async="true" data-main='../js/company-detail'></script> 
</head>
<body>
    <include "../template/top.html">
    <include "../template/header.html">
    <include "../template/search-left.html">
    <!--头部企业信息-->
    <div class="cpy-top">
        <div class="main">
            <!--左侧信息-->
            <div class="cpy-top-l">
                <div class="cpy-img">
                    <img src="../images/9da7e8dc-f5ce-44e8-b32c-3cd0287e4402.jpg" alt="">
                </div>
                <div class="cpy-top-info">
                    <h1 class="name">阿里巴巴集团控股有限公司<span>阿里巴巴</span></h1>
                    <h2>Alibaba Group Holding Ltd.</h2>
                    <ul>
                        <li>
                            <span>机构总部：</span>杭州市
                        </li>
                        <li>
                            <span>注册地点：</span>杭州市
                        </li>
                        <li>
                            <span>成立时间：</span>1999年
                        </li>
                        <li>
                            <span>所属行业：</span>B2B
                        </li>
                        <li class="link">
                            <span>官方网站：</span><a target="_blank" href="http://www.alibabagroup.com">www.alibabagroup.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--结束-->
            <!--右侧分享-->
            <div class="cpy-top-r">
                 <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style_24x24">
                    <a class="jiathis_button_qzone"></a>
                    <a class="jiathis_button_tsina"></a>
                    <a class="jiathis_button_tqq"></a>
                    <a class="jiathis_button_weixin"></a>
                    <a class="jiathis_button_renren"></a>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                    <a class="jiathis_counter_style"></a>
                </div>
                <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                <!-- JiaThis Button END -->
            </div>
            <!--结束-->
        </div>
    </div>
    <!--结束-->
    <div class="page-content">
        <div class="main">
            <div class="left">
                <include "../template/static-nav.html">
                <div class="m-content">
                    <div class="cpy-desc">
                        <h3>简介</h3>
                        <div class="desc">
                            <p>阿里巴巴集团经营多元化的互联网业务，致力为全球所有人创造便捷的交易渠道。自成立以来，阿
                            里巴巴集团建立了消费者电子商务、网上支付、B2B网上交易市场及云计算业务，近几年更积极开拓无线应用、手机操作
                            系统和互联网电视等领域。集团以促进一个开放、协同、繁荣的电子商务生态系统为目标，旨在对消费者、商家以及经
                            济发展做出贡献。阿里巴巴是主要从事电子商务，是网上交易市场和商务交流社区，融合了B2B、C2C、搜索引擎和门户。</p>
                            <p>阿里巴巴两次入选哈佛大学商学MBA案例，在美国学术界掀起研究热潮；连续五次被美国权威财经杂志《福布斯》选为全
                            球最佳B2B站点之一；多次被相关机构评为全球最受欢迎的B2B网站、中国商务类优秀网站、中国百家优秀网站、中国最佳
                            贸易网。被国内外媒体、硅谷和国外风险投资家誉为与Yahoo， Amazon， eBay，AOL比肩的五大互联网商务流派代表之一。</p>
                            <p>全球互联网流量监测网站Alexa.com对全球商务及贸易类网站进行排名调查，阿里巴巴网站排名首位。调查显示：阿里巴巴
                            的网上会员近五成是通过口碑相传得知阿里巴巴并使用阿里巴巴；各行业会员通过阿里巴巴商务平台双方达成合作者占总会
                            员比率近五成。</p>
                        </div>
                    </div>
                    <div class="fengcai">
                        <h3>企业风采</h3>
                        <div class="fc-img">
                            <div class="img">
                                <img src="../images/0f0005w9PFlEDxmOEZ5Wjf.jpg" alt="">
                            </div>
                            <div class="img">
                                <img src="../images/0f0005w9PFlEDxmOEZ5Wjf.jpg" alt="">
                            </div>
                            <div class="img">
                                <img src="../images/0f0005w9PFlEDxmOEZ5Wjf.jpg" alt="">
                            </div>
                            <div class="img">
                                <img src="../images/0f0005w9PFlEDxmOEZ5Wjf.jpg" alt="">
                            </div>
                            <div class="img">
                                <img src="../images/0f0005w9PFlEDxmOEZ5Wjf.jpg" alt="">
                            </div>
                            <div class="img">
                                <img src="../images/0f0005w9PFlEDxmOEZ5Wjf.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="goods">
                        <h3>品牌与产品</h3>
                        <div class="fc-img">
                            <div class="img">
                                <img src="../images/0f0005w9PFlEDxmOEZ5Wjf.jpg" alt="">
                            </div>
                            <div class="img">
                                <img src="../images/0f0005w9PFlEDxmOEZ5Wjf.jpg" alt="">
                            </div>
                            <div class="img">
                                <img src="../images/0f0005w9PFlEDxmOEZ5Wjf.jpg" alt="">
                            </div>
                            <div class="img">
                                <img src="../images/0f0005w9PFlEDxmOEZ5Wjf.jpg" alt="">
                            </div>
                            <div class="img">
                                <img src="../images/0f0005w9PFlEDxmOEZ5Wjf.jpg" alt="">
                            </div>
                            <div class="img">
                                <img src="../images/0f0005w9PFlEDxmOEZ5Wjf.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="cpy-progress">
                        <h3>发展历程</h3>
                        <ul class="progress">
                            <li class="head">
                                <span class="date">时间</span>
                                <span class="m-head">内容</span>
                            </li>
                            <li>
                                <div class="pro-l">
                                    <span ><i class="iconfont icon-quan-copy"></i>2014-09-01</span>
                                </div>
                                <div class="pro-r">
                                    <span class="cpy">阿里巴巴</span>
                                    <div class="desc">围殴女的扩多屋屋饿哦饥饿王府井二我拍我饿哦发文件而皮肤我今晚赔付金额哦我</div>
                                </div>
                            </li>
                            <li>
                                <div class="pro-l">
                                    <span ><i class="iconfont icon-quan-copy"></i>2014-09-01</span>
                                </div>
                                <div class="pro-r">
                                    <span class="cpy">阿里巴巴</span>
                                    <div class="desc">围殴女的扩多屋屋饿哦饥饿王府井二我拍我饿哦发文件而皮肤我今晚赔付金额哦我</div>
                                </div>
                            </li>
                            <li>
                                <div class="pro-l">
                                    <span ><i class="iconfont icon-quan-copy"></i>2014-09-01</span>
                                </div>
                                <div class="pro-r">
                                    <span class="cpy">阿里巴巴</span>
                                    <div class="desc">围殴女的扩多屋屋饿哦饥饿王府井二我拍我饿哦发文件而皮肤我今晚赔付金额哦我</div>
                                </div>
                            </li>
                            <li>
                                <div class="pro-l">
                                    <span ><i class="iconfont icon-quan-copy"></i>2014-09-01</span>
                                </div>
                                <div class="pro-r">
                                    <span class="cpy">阿里巴巴</span>
                                    <div class="desc">围殴女的扩多屋屋饿哦饥饿王府井二我拍我饿哦发文件而皮肤我今晚赔付金额哦我</div>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="link">
                        <h3>联系方式</h3>
                        <div>
                            <span>传　　真：</span>86-852-2215-5200 <br>
                            <span>联系电话：</span>86-852-2215-5100 <br>
                            <span>详细地址：</span>香港铜锣湾勿地臣街1号时代广场1座26楼 <br>
                        </div>
                    </div>
                    <div class="relate">
                        <h3>相关新闻</h3>
                        <div class="news-box">
                            <include "../template/news.html">
                            <include "../template/news.html"> 
                            <include "../template/news.html"> 
                            <include "../template/news.html"> 
                            <include "../template/news.html"> 
                            <include "../template/news.html"> 
                            <include "../template/news.html">
                            <include "../template/news.html"> 
                            <include "../template/news.html"> 
                            <include "../template/news.html"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="ad">
                    <img src="../images/0f0005w9PFlEDxmOEZ5Wjf.jpg" alt="">
                </div>
                <div class="tops-box">
                    <h1 class="panel-title panel-title-bottom-line">TOPS 
                        <div class="box-r">
                            <span class="top-name selected">日排行</span><span class="split">/</span>
                            <span class="top-name">周排行</span><span class="split">/</span>
                            <span class="top-name">原创</span>
                        </div>
                    </h1>
                    <!--tops内容-->
                    <div class="toplist-toggle">
                        <!--tops列表-->
                        <include "../template/top-list.html">
                        <!--结束-->
                        <include "../template/top-list-hide.html">
                        <include "../template/top-list-hide.html">
                    </div>
                    <!--结束-->
                    <!--侧边栏新闻-->
                    <div class="item">
                        <h1 class="panel-title">巨头<a href="javascript:;" class="more">MORE+</a></h1>
                        <div class="panel panel-prey">
                            <div class="news-img">
                                <img src="../images/20170612@227627.jpg" alt="" style="height:100%;width:100%;">
                            </div>
                            <a href="#" class="news">我看到你福覅几句为人陪我二君恩错承诺你额fin发您肉veonin犯法</a>
                        </div>
                        <ul class="news-list">
                            <!--新闻列表-->
                            <li><a href="#">第五届中关村天使投资论坛暨颁奖典礼</a></li>
                            <li><a href="#">2017中国基金小镇高峰论坛@青岛【现场直播】</a></li>
                            <li><a href="#">第五届中关村天使投资论坛暨颁奖典礼</a></li>
                            <!--结束-->
                        </ul>
                    </div>
                    <!--结束-->
                </div>
            </div>
        </div>
    </div>
    <include "../template/footer.html">
    <!--<script src="https://cdn.bootcss.com/jquery/1.8.2/jquery.min.js"></script>
    <script src="../js/public.js"></script>
    <script src="../js/company-detail.js"></script>-->
</body>
</html>