<include "../template/public_header.html">
    <link rel="stylesheet" href="../css/dianzibao.css">
    <link rel="stylesheet" href="../static/jquery.mCustomScrollbar.min.css">
    <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">   
    <link href="https://cdn.bootcss.com/Swiper/2.7.6/idangerous.swiper.min.css" rel="stylesheet">
    <!--<script src="https://cdn.bootcss.com/require.js/2.3.3/require.min.js" defer async="true" data-main='../js/newspaper'></script>  -->
</head>
<body>
    <include "../template/top.html">
    <include "../template/header.html">
    <include "../template/main-nav.html">
    <!--电子报主体内容开始-->
    <div class="main">
        <div class="newspaper">
            <h1>
                <span class="now-date">2017年06月25日 星期日</span>
                <span class="search">
                    <span class="selectDate"><span>按日期查询</span><i class="iconfont icon-rili"></i></span>
                    <a href=""><i class="iconfont icon-sm-left-arrow"></i><span>上一期</span></a>
                    <a href=""><span>下一期</span><i class="iconfont icon-sm-right-arrow"></i></a>
                </span>
            </h1>
            <div class="paper">
                <!--电子报-->
                <div class="paper-l">

                </div>
                <!--结束-->
                <!--文章-->
                <div class="paper-m">
                    <h3>
                        <span class="title">第A02版</span>
                        <span class="toggle">
                            <span>上一版</span><span>下一版</span>
                        </span>
                    </h3>
                    <!--文章列表开始-->
                    <ul>
                        <li class="active"><a href=""><i class="iconfont icon-quan-copy"></i><span>按时上成主力黄金哦为阿娇覅自己缝翁姐夫</span></a></li>
                        <li><a href=""><i class="iconfont icon-quan-copy"></i><span>解热哦加热if加热李荣福军鸡儿Wii以为军副错计策计测财经网IE陈将诶额</span></a></li>
                        <li><a href=""><i class="iconfont icon-quan-copy"></i><span>呵呵费而今晚IE王菲未接成为</span></a></li>
                        <li><a href=""><i class="iconfont icon-quan-copy"></i><span>解饿成交额为IE问问哦附件为奇偶诶附近我服务</span></a></li>
                        <li><a href=""><i class="iconfont icon-quan-copy"></i><span>飞和我为我未接次哦IE我IC我积极偶尔玩</span></a></li>
                        <li><a href=""><i class="iconfont icon-quan-copy"></i><span>催我我将诶接哦CEO我金额为我</span></a></li>
                    </ul>
                    <!--文章列表结束-->
                </div>
                <!--文章结束-->
                <!--板块-->
                <div class="paper-r">
                    <h3><i class="iconfont icon-Automatic-configuration"></i><span>版面导航</span></h3>
                    <!--版面列表-->
                    <ul>
                        <li class="active"><a href="">第A01版：001</a></li>
                        <li class="odd"><a href="">第A02版：002</a></li>
                        <li><a href="">第A03版：003</a></li>
                        <li class="odd"><a href="">第A04版：004</a></li>
                        <li><a href="">第A05版：005</a></li>
                        <li class="odd"><a href="">第A06版：006</a></li>
                        <li><a href="">第A07版：007</a></li>
                        <li class="odd"><a href="">第A08版：008</a></li>
                        <li><a href="">第A09版：009</a></li>
                        <li class="odd"><a href="">第A10版：010</a></li>
                    </ul>
                </div>
                <!--板块结束-->
            </div>
        </div>
        <div class="past-paper">
            <h1>
                <span>往期报纸</span>
                <a href="">查看更多>></a>
            </h1>
            <div class="past-list">
                <a class="paper">
                    <img src="../images/dianzibao.png" alt="" >
                    <div class="title">2017-05-19期</div>
                </a>
                <a class="paper">
                    <img src="../images/dianzibao.png" alt="" >
                    <div class="title">2017-05-19期</div>
                </a>
                <a class="paper">
                    <img src="../images/dianzibao.png" alt="" >
                    <div class="title">2017-05-19期</div>
                </a>
                <a class="paper">
                    <img src="../images/dianzibao.png" alt="" >
                    <div class="title">2017-05-19期</div>
                </a>
                <a class="paper">
                    <img src="../images/dianzibao.png" alt="" >
                    <div class="title">2017-05-19期</div>
                </a>
            </div>
        </div>
    </div>


    <include "../template/footer.html">

    
</body>

</html>