<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="stylesheet" href="../static/iconfont.css">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../css/mobile_meeting.css">
</head>
<body>
    <div class="top-bar">
        <div class="logo-box">
            <div class="logo"><img src="../images/logo.png" alt=""></div>
        </div>
    </div>
    <!--导航开始-->
    <div class="nav-bar">
        <ul class="nav-list">
            <li class="active"><a href="">最新</a></li>
            <li><a href="">原创</a></li>
            <li><a href="">肉业</a></li>
            <li><a href="">酒业</a></li>
            <li><a href="">乳业</a></li>
            <li><a href="">茶叶</a></li>
            <li><a href="">农产品</a></li>
        </ul>
    </div>
    <!--导航结束-->

    <!--会展新闻-->
    <ul class="events-list">
        <!--会展-->
        <li>
            <a href="">
                <div class="img"><img src="../images/201706280657332728.jpg" alt=""></div>
                <div class="txt">
                    <h3><em>展会标题</em>新芽DEMO第27期——这里有一份剁手指南 快来买买买</h3>
                    <div class="info">
                        <div class="date-add">
                            <span class="add"><i class="iconfont icon-dingwei"></i>深圳</span>
                            <span class="date"><i class="iconfont icon-zhong"></i>2017年07月05日</span>
                        </div>
                        <div class="rest-time">1天后</div>
                    </div>
                </div>
            </a>
        </li>
        <!--end-->
        <!--会展-->        
        <li>
            <a href="">
                <div class="img"><img src="../images/201706280657332728.jpg" alt=""></div>
                <div class="txt">
                    <h3><em>展会标题</em>新芽DEMO第27期——这里有一份剁手指南 快来买买买</h3>
                    <div class="info">
                        <div class="date-add">
                            <span class="add"><i class="iconfont icon-dingwei"></i>深圳</span>
                            <span class="date"><i class="iconfont icon-zhong"></i>2017年07月05日</span>
                        </div>
                        <div class="rest-time">1天后</div>
                    </div>
                </div>
            </a>
        </li>
        <!--end-->
        <!--会展-->     
        <li>
            <a href="">
                <div class="img"><img src="../images/201706280657332728.jpg" alt=""></div>
                <div class="txt">
                    <h3><em>展会标题</em>新芽DEMO第27期——这里有一份剁手指南 快来买买买</h3>
                    <div class="info">
                        <div class="date-add">
                            <span class="add"><i class="iconfont icon-dingwei"></i>深圳</span>
                            <span class="date"><i class="iconfont icon-zhong"></i>2017年07月05日</span>
                        </div>
                        <div class="rest-time">1天后</div>
                    </div>
                </div>
            </a>
        </li>
        <!--end-->
    </ul>

</body>
</html>