<include "../template/public_header.html">


<link rel="stylesheet" href="../css/news-list.css">
</head>
<body>
    <include "../template/top.html">
    <include "../template/header.html">
    <include "../template/search-left.html">
    <div class="page-content">
        <div class="main">
            <div class="left">
                <div class="nav">
                    <i class="iconfont icon-fangzi"></i>
                    <a>投资界</a><span>></span>
                    <a>投资</a><span>></span>
                    <a>天使投资</a>
                </div>
                <include "../template/news.html">
                <include "../template/news.html"> 
                <include "../template/news.html"> 
                <include "../template/news.html"> 
                <include "../template/news.html"> 
                <include "../template/news.html"> 
                <include "../template/news.html">
                <include "../template/news.html"> 
                <include "../template/news.html"> 
                <include "../template/news.html"> 
                <include "../template/news.html"> 
                <include "../template/news.html">
                <include "../template/news.html"> 
                <include "../template/news.html"> 
                <include "../template/news.html">
                <include "../template/news.html"> 
                <include "../template/news.html"> 
                <include "../template/news.html"> 
                <include "../template/news.html"> 
                <include "../template/news.html">      
            </div>
            <div class="right">
                <div class="ad">
                    <img src="../images/0f0005w9PFlEDxmOEZ5Wjf.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>