@import "mixin";
@import "base";
// **************频道页banner*******************
.channel-focus{
    position: relative;
    margin-bottom: 40px;
    height: 300px;
    .channel-swiper{
        .headline,.focusimg{
            height: 300px;
            overflow: hidden;
        }
        .headline{
            float: left;
            width: 500px;
            color: #777;
            .mark{
                display: inline-block;
                margin-bottom: 20px;
                border: 1px solid $baseColor;
                color: $baseColor;
                padding: 1px 10px;
                font-weight: normal;
                border-radius: 4px;
            }
            .title{
                font-size: 24px;
                line-height: 32px;
            }
            .desc{
                padding-top:20px;
                font-size: 15px;
                line-height: 28px;
            }
            .p{
                font-size: 20px;
                font-style: italic;
                font-family: 'Georgia';
                text-align: right;
                margin-top: -20px;
                color: #999;
                .current{
                    font-size: 40px;
                    color:$baseColor;
                }
            }
        }
        .focusimg{
            float: right;
            width: 600px;
            overflow: hidden;
            img{
                @extend .img-responsive;
            }
        }
    }
    .icon-arrow-left-copy{
        top: 129px;
        left: 580px;
    }
    .icon-arrow-right{
        top: 129px;
        right: 0;
    }
}
