@import 'base';
.search{
    .main{
        border-bottom: 1px solid #e9e9e9;
    }
    .search-l,.search-left-l{
        float: left;
    }
    .search-l{
        height: 43px;
        line-height: 43px;
        a{
            color: #aaaaaa;
            margin:0 6px;
            font-size: 13px;
            @extend %a-hover;
        }
    }
    .search-left-l{
        height: 50px;
        line-height: 50px;
        a{
            font-size: 16px;
            margin-right: 5px;
        }
        .splice{
            margin: 0 12px;
            color: $baseColorPreyTint;
        }
        .selected{
            color: $baseColor;
        }
    }
    .search-r,.search-left-r{
        position: relative;
        float: right;
        border-bottom: 1px solid transparent;
        font-size: 0;
        &:hover{
            border-bottom: 1px solid $baseColor;
        }
        input{
            vertical-align: middle;
            width: 250px;
            height: 43px;
            padding: 0;
            outline: none;
            border: none;
        }
        button{
            vertical-align: middle;
            display: inline-block;
            height: 43px;
            border: 0;
            background: none;
            .iconfont{
                font-size: 24px;
                color: $baseColor;
                cursor: pointer;
                &:hover{
                    color:#ffb911;
                }
            }
        }
    }
    .search-r{

    }
    .search-left-r{
        margin-top: 6px;
    }
}