@import 'base';
@import 'mixin';
@import 'top';
@import 'header';
@import 'main-nav';
@import 'search';
@import 'news';
@import 'getmore';
@import 'footer';
@import 'channel-banner';
@import 'page-list';
html,body{
    font-family: "Open Sans",Arial,"Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
    font-size: 14px;
    color: #353535;
}
div{
    line-height: 28px;
}
*{
    box-sizing: border-box;
}
// **********hover过度效果***************
a{
    transition: all .2s ease;
    cursor: pointer;
    color: #353535;
    @extend %a-hover;
}
// ************基本样式*****************
.fixed{
    position: fixed;
    top: 0;
    z-index: 0;
}
.hide{
    display: none;
}
// **********main主内容宽度************
.main{
    width: $baseWidth;
    margin: 0 auto;
    overflow: hidden;
}
.panel-title{
    font-size: 21px;
    font-weight: normal;
    height: 36px;
    .more{
        float: right;
        font-size: 14px;
        color: $baseColorPreyMid;
    }
    .box-r{
        float: right;
        font-size: 16px;
        .selected{
            color: $baseColor;
        }
        .top-name{
            cursor: pointer;
        }
        .split{
            padding: 0 10px;
        }
    }
}
.panel-title-bottom-line{
    border-bottom: 1px solid $baseColorPreyTint; 
}
// ************新闻panel样式**************
.panel-prey{
    background: #f2f2f2;
}
.panel-avatar{
    padding: 15px 0;
    border-top: 1px solid #e9e9e9;
    .avatar{
        margin-left: 10px;
    }
}
.panel{
    @extend .clearfix;
    line-height: 24px;
    padding-right: 10px;
    .avatar{
        float: right;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        overflow: hidden;
    }
    .news-img{
        float: left;
        width: 120px;
        height: 72px;
        overflow: hidden;
        margin-right: 10px;
    }
    .news{
        overflow: hidden;
        line-height: 24px;
    }
    h1{
        font-size: 18px;
        color: $baseColor;
        margin-bottom: 6px;
        line-height: 28px;
        a{
            padding-left: 10px;
            font-size: $baseFontSizeSmall;
            color: #888888;
        }
    }
    .content{
    }
}

.news-list{
    margin-top: 10px;
    li{
        line-height: 32px;
        padding-left: 10px;
        @extend %text-overflow;
    }
}


// *****************主要布局********************
.page-content{
    @extend .clearfix;
    margin-top: 22px;
    .left{
        float: left;
        width: 850px;
    }
    .right{
        float: right;
        width: 300px;
        .tops-box{
            height: 800px;
            width: 300px;
            .tops{
                width: 300px;
            }
        }
    }
}
// **************文章导航************************
.title-nav{
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    margin-top: -10px;
    width: 100%;
    font-size: 14px;
    color: $baseColorPreyMid;
    .iconfont{
        margin-right: 5px;
    }
    .split{
        font-size: 10px;
        margin: 0 5px;
    }
    a{
        color: $baseColorPreyMid;
        &:hover{
            color: $baseColor;
        }       
    }
}

// ***************轮播左右箭头*******************
.icon-arrow-left-copy,.icon-arrow-right{
    position: absolute;
    z-index: 200;
    display: block;
    text-align: center;
    width: 45px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    color: #ffffff;
    background: #000000;
    opacity: .2;
    cursor: pointer;
    transition: .4s;
    &:hover{
        opacity: .5;
    }
}
// *****************轮播索引*********************
.pagination{
    position: absolute;
    z-index: 200;
    bottom: 15px;
    right:10px;
    .swiper-pagination-switch{
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        background: #ffffff;
        opacity: 0.4;
    }
    .swiper-active-switch{
        opacity: 1;
    }
}

// *******************图片hover放大*****************
.img,.news-img,.cpy-img{
    .jqthumb{
        transition: all .4s;
        &:hover{
            transform: scale(1.2);
        }
    }
}
