.clearfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0; }

.img-responsive, .channel-focus .channel-swiper .focusimg img {
  display: block;
  width: 100%;
  height: auto; }

.channel-focus {
  position: relative;
  margin-bottom: 40px;
  height: 300px; }
  .channel-focus .channel-swiper .headline, .channel-focus .channel-swiper .focusimg {
    height: 300px;
    overflow: hidden; }
  .channel-focus .channel-swiper .headline {
    float: left;
    width: 500px;
    padding-top: 52px;
    color: #777; }
    .channel-focus .channel-swiper .headline .title {
      font-size: 24px;
      line-height: 32px; }
    .channel-focus .channel-swiper .headline .desc {
      padding-top: 20px;
      font-size: 15px;
      line-height: 28px; }
    .channel-focus .channel-swiper .headline .p {
      font-size: 20px;
      font-style: italic;
      font-family: 'Georgia';
      text-align: right;
      margin-top: -20px;
      color: #999; }
      .channel-focus .channel-swiper .headline .p .current {
        font-size: 40px;
        color: #089AFD; }
  .channel-focus .channel-swiper .focusimg {
    float: right;
    width: 600px;
    overflow: hidden; }
  .channel-focus .icon-arrow-left-copy {
    top: 129px;
    left: 580px; }
  .channel-focus .icon-arrow-right {
    top: 129px;
    right: 0; }
