.top {
  background: #0d5f96; }
  .top .top-wrap {
    color: #ffffff;
    margin: 0 auto;
    width: 1180px; }
    .top .top-wrap .top-left {
      float: left; }
    .top .top-wrap .top-right {
      float: right; }
    .top .top-wrap ul li {
      float: left;
      margin-right: 15px;
      height: 40px;
      line-height: 40px; }
