<div class="channel-focus">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide channel-swiper">
                <div class="headline">
                    <h1 class="title">
                        <a href="">三十年股权投资模式变迁：靠估值价差赚快钱的模式已死，赋能者方能永生</a>
                    </h1>
                    <div class="desc">本文回顾中国的私募股权投资市场近30年的发展历程，我们认为，简单的一二级市场套利模式即将走向衰落，新的市场机遇期下唯有赋能投资，主动帮助被投企业创造价值才是当下投...</div>
                    <p class="p">
                        <span class="current">1</span>/<span class="total">3</span>
                    </p>
                </div>
                <div class="focusimg">
                    <img src="../images/20170605@224093.png" alt="">
                </div>
            </div>
            <div class="swiper-slide channel-swiper">
                <div class="headline">
                    <h1 class="title">
                        <a href="">三十年股权投资模式变迁：靠估值价差赚快钱的模式已死，赋能者方能永生</a>
                    </h1>
                    <div class="desc">本文回顾中国的私募股权投资市场近30年的发展历程，我们认为，简单的一二级市场套利模式即将走向衰落，新的市场机遇期下唯有赋能投资，主动帮助被投企业创造价值才是当下投...</div>
                    <p class="p">
                        <span class="current">2</span>/<span class="total">3</span>
                    </p>
                </div>
                <div class="focusimg">
                    <img src="../images/20170605@224093.png" alt="">
                </div>
            </div>
            <div class="swiper-slide channel-swiper">
                <div class="headline">
                    <h1 class="title">
                        <a href="">三十年股权投资模式变迁：靠估值价差赚快钱的模式已死，赋能者方能永生</a>
                    </h1>
                    <div class="desc">本文回顾中国的私募股权投资市场近30年的发展历程，我们认为，简单的一二级市场套利模式即将走向衰落，新的市场机遇期下唯有赋能投资，主动帮助被投企业创造价值才是当下投...</div>
                    <p class="p">
                        <span class="current">3</span>/<span class="total">3</span>
                    </p>
                </div>
                <div class="focusimg">
                    <img src="../images/20170605@224093.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="pagination"></div>
    <i class="iconfont icon-arrow-left-copy"></i>
    <i class="iconfont icon-arrow-right"></i>
</div>