<footer>
    <div class="webinfo">
        <div class="main">
            <ul class="clearfix zhuanlans">
                <li class="zhuanlan">
                    <h4>行业</h4>
                    <ul>
                        <li><a href="">农产品</a></li>
                        <li><a href="">肉业</a></li>
                        <li><a href="">乳业</a></li>
                        <li><a href="">茶叶</a></li>
                        <li><a href="">酒水</a></li>
                        <li><a href="">保健品</a></li>
                        <li><a href="">其他</a></li>
                    </ul>
                </li>
                <li class="zhuanlan">
                    <h4>资讯</h4>
                    <ul>
                        <li><a href="">新媒体</a></li>
                        <li><a href="">深度报道</a></li>
                        <li><a href="">媒体聚焦</a></li>
                        <li><a href="">攻击资讯</a></li>
                        <li><a href="">权威发布</a></li>
                        <li><a href="">安全关注</a></li>
                        <li><a href="">政策法规</a></li>
                    </ul>
                </li>
                <li class="zhuanlan">
                    <h4>企业</h4>
                    <ul>
                        <li><a href="">企业联盟</a></li>
                        <li><a href="">企业动态</a></li>
                        <li><a href="">企业招商</a></li>
                    </ul>
                </li>
                <li class="zhuanlan">
                    <h4>会展</h4>
                    <ul>
                        <li><a href="">会议</a></li>
                        <li><a href="">展会</a></li>
                        <li><a href="">活动</a></li>
                    </ul>
                </li>
                <li class="zhuanlan">
                    <h4>人物</h4>
                    <ul>
                        <li><a href="">专家专栏</a></li>
                        <li><a href="">高端访谈</a></li>
                        <li><a href="">人物相关</a></li>
                    </ul>
                </li>
                <li class="zhuanlan">
                    <h4>生活</h4>
                    <ul>
                        <li><a href="">健康养生</a></li>
                        <li><a href="">美食推荐</a></li>
                        <li><a href="">地方特色</a></li>
                    </ul>
                </li>
            </ul>
            <div class="link">
                <div class="market">
                    <h2>市场及媒体合作</h2>
                    <p>李小姐</p>
                    <p>010 84535220转6337</p>
                    <p>chloeli@zero2ipo.com.cn</p>
                </div>
                <div class="email">
                    <h2>投稿邮箱</h2>
                    <p>editor@zero2ipo.com.cn</p>
                </div>
            </div>
            <div class="qrcode">
                <ul>
                    <li>
                        <h2>官方微信</h2>
                        <div class="qr">
                            <img src="../images/pedaily-weixin.jpg" alt="" class="img-responsive">
                        </div>
                    </li>
                    <li>
                        <h2>官方微博</h2>
                        <div class="qr">
                            <img src="../images/pedaily-weixin.jpg" alt="" class="img-responsive">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="main">
            <div class="company">
                <span>©1999-2016</span>
                <span>清科集团版权所有</span>
                <span>京ICP备17028573号-2</span>
                <span>京公网安备11010502030132号</span>
            </div>
            <div class="links">
                <a href="">公司介绍</a><span>|</span>
                <a href="">诚聘英才</a><span>|</span>
                <a href="">隐私条款</a><span>|</span>
                <a href="">联系方式</a>
            </div>
        </div>
    </div>
</footer>