<header>
    <div class="main clearfix">
        <div class="logo-img">
            <img src="../images/2016fisrtline.png" alt="">
        </div>
        <div class="banner">
            <img src="../images/0f0002JDyPkgAigzLGhM_0.jpg" alt="">
        </div>
        <div class="link">
            <ul>
                <li>
                    <a href="" class="iconfont icon-search"></a>
                    <div>联系</div>
                </li>
                <li>
                    <a href="" class="iconfont icon-weibo"></a>
                    <div>微博</div>
                </li>
                <li>
                    <a href="" class="iconfont icon-weixin"></a>
                    <div>微信</div>
                </li>
            </ul>
        </div>
    </div>
</header>