<div class="main-nav">
    <div class="main clearfix">
        <span>
            <a href="" class="big">行业</a>
            <a href="">农产品</a>
            <a href="">肉业</a>
            <a href="">乳业</a>
            <span class="splice">|</span>
            <a href="" class="big">资讯</a>
            <a href="">深度</a>
            <a href="">聚焦</a>
            <a href="">新媒体</a>
            <span class="splice">|</span>
            <a href="" class="big">会展</a>
            <a href="">会议</a>
            <a href="">展会</a>
            <a href="">活动</a>
            <span class="splice">|</span>
            <a href="" class="big">人物</a>
            <a href="">专栏</a>
            <a href="">访谈</a>
            <span class="splice">|</span>
            <a href="" class="big">企业</a>
            <span class="splice">|</span>
            <a href="" class="big">生活</a>
        </span>
        <a class="cpy-join">
            <img src="../images/join.png" alt="">
        </a>
    </div>
</div>