<div class="news-item">
    <div class="img img-pt">
        <a href="javascript:;">
            <img src="../images/20170608@226216.jpg" alt="">
        </a>
    </div>
    <h1>
        <a href="www.baidu.com" target="_blank">一个退休老人，用200块钱创业，他做了一把伞，一年竟卖了24亿，占市场份额83%！</a>
    </h1>
    <div class="tags tags-pt">
        <span class="tag">天堂伞</span>
        <span class="tag">零售业</span>
        <span class="tag">天堂伞</span>
        <span class="tag">零售业</span>
    </div>
    <a class="per-img">
        <img src="../images/20170405@199095.jpg" alt="">魏广辰<span class="date">2017年06月14日 21时</span>
    </a>
</div>