<div class="search">
    <div class="main clearfix">
        <div class="search-l">
            <a href="">原创</a>
            <a href="">独家</a>
            <a href="">资本事件</a>
            <a href="">移动互联网</a>
            <a href="">智能硬件</a>
            <a href="">共享经济</a>
        </div>
        <div class="search-r">
            <input type="text" placeholder="请输入关键词">
            <button>
                <i class="iconfont icon-search"></i>
            </button>
        </div>
    </div>
</div>