<div class="search">
    <div class="main clearfix">
        <div class="search-left-l">
            <a href="" class="selected">原创</a><span class="splice">/</span>
            <a href="">独家</a><span class="splice">/</span>
            <a href="">资本事件</a><span class="splice">/</span>
            <a href="">移动互联网</a><span class="splice">/</span>
            <a href="">智能硬件</a><span class="splice">/</span>
            <a href="">共享经济</a>
        </div>
        <div class="search-left-r">
            <input type="text" placeholder="请输入关键词">
            <button>
                <i class="iconfont icon-search"></i>
            </button>
        </div>
    </div>
</div>